<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Animes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item lines="full">

      <ion-thumbnail slot="start">
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/oUPzuNw6e0NBbb121odI4ncCvRv.jpg">
      </ion-thumbnail>

      <ion-label>
        <h2>One Piece</h2>
        <h3>Ação, Aventura, Comédia, Animação</h3>
        <p>1999</p>
      </ion-label>

    </ion-item>

    <ion-item lines="full">

      <ion-thumbnail slot="start">
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/rgHWkZVyvxMBOSYgj585pIx6qAn.jpg">
      </ion-thumbnail>

      <ion-label>
        <h2>Naruto</h2>
        <h3>Animação, Comédia, Ação, Aventura</h3>
        <p>2002</p>
      </ion-label>

    </ion-item>

    <ion-item lines="full">

      <ion-thumbnail slot="start">
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/wrCVHdkBlBWdJUZPvnJWcBRuhSY.jpg">
      </ion-thumbnail>

      <ion-label>
        <h2>Kimetsu no Yaiba</h2>
        <h3>Animação, Drama, Sci-Fi, Fantasia, Ação</h3>
        <p>2019</p>
      </ion-label>

    </ion-item>

  </ion-list>
</ion-content>